{% extends 'base.html' %}
{% block title %}About{% endblock %}
{% block nav_bio %}active{% endblock %}

{% block content %}
<h3>Zoe Shirah Gotch-Strain</h3>
<h4>Software Engineer</h4>

<p>
Zoe graduated from University of California Santa Cruz with a Bachelor's Degree in Astrophysics. She got her first taste of software engineering with an Intro to C class she loved. After graduation, Zoe worked in an Astrophysics research lab where she enjoyed work on the command line and digging into documentation. She then transitioned to working at a medical office where she greatly improved her interpersonal skills, all the while continuing her love of programming by taking 3 Java classes at the local community college. The more classes she took, the more she realized her passion for the logic and problem solving of engineering. Now, she’s at Hackbright and is seeking an opportunity to continue solving problems on an engineering team.
</p>

<h4>Tech Experience</h4>
<p>
Completed Software Engineering Fellowship at Hackbright Academy<br>
Worked on command line in Astrophysics research lab.<br>

Several introductory computer science courses, including: <br>
<ul>
<li>Data Structures and Algorithms: Java III</li>
<li>Unix/Linux Shell Scripting</li>
<li>Programming Fundamentals: Java II</li>
<li>Programming Fundamentals: Java I</li>
<li>Introduction to Programming & C</li>
</p>
{% endblock %}